body {
  font-family: sans-serif;
  background: black;
  color: white;
}

video {
  max-width: 100%;
  width: 320px;
}

.hidden {
  display: none;
}

label.error-label {
  color: #F44336;
  font-size: .85em;
  font-weight: 200;
  margin: 0;
}

